* {
  box-sizing: border-box;
}

:root {
  --white: #fefefe;
  --black: #1f1f1f;
  --gray: #4a4a4a;
  --app-container: #f3eada;

  --main-color: #00bfa5;
  --main-light: #5df2d6;
  --main-dark: #008e76;
  --main-darker: #285e72;

  --minor-color: #2b4f3b;

  --main-highlight: #ffa17a;
  --main-highlight-light: #fa8e43;
  --main-special: #a59dff;

  --projects-section: #fafafa;

  --link-color-hover: #ffa17a;
  --link-color-active: #2b4f3b;
  --link-color-active-bg: #fafafa;

  --table-color-bg: #fff;

  --button-bg: #1f1c24;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}
body {
  font-family: "Gowun Dodum", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--app-container);
}
button,
a {
  cursor: pointer;
  text-decoration: none;
}
p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--app-container);
}
.content {
  display: flex;
  width: 100%;
  padding: 0px 12px 12px 0px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 24px;
}
.header-logo {
  color: var(--main-darker);
  font-size: 2.5rem;
  margin: 0 16px;
}
.header-helper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  margin-right: 20px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 24px;
  transition: transform 0.2s ease-in;
}
.header-helper-button:hover {
  transform: scale(1.1);
  background-color: var(--main-highlight);
}
/* header end */

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.sidebar-tab-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  width: 10vw;
  height: 4rem;
  transition: 0.2s;
  color: var(--link-color);
  cursor: pointer;
}
.sidebar-tab-menu:hover {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}
.sidebar-tab-menu.active {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}

.tab-section {
  flex: 1;
  display: none;
  flex-direction: column;
  border-radius: 32px;
  padding: 16px;
  background-color: var(--projects-section);
}
.tab-section.target {
  display: flex;
}
/* siedbar end */

/* section header */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header > p {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: var(--main-darker);
}
.section-header > .date {
  font-size: 20px;
}
/* section header end */

/* section table*/
.table-border {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--table-color-bg);
  border: 1px solid var(--main-dark);
  border-radius: 5px;
}

.section-table {
  display: table;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
tr,
td {
  font-weight: 700;
  border: 1px solid var(--main-dark);
}

.section-table-header {
  display: table-header-group;
  font-size: 1.25rem;
  border-bottom: 3px double var(--main-dark);
}

.table-topCategory-td {
  font-weight: 400;
  font-size: 1.5rem;
}

.item-flex-wrap {
  display: flex;
  text-align: left;
  margin: 0;
  padding: 0;
}

.table-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2.5px solid var(--main-color);
  min-width: 5rem;
  height: 2.5rem;
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px;
  transition: 0.2s ease-in;
}
.table-group-item:hover {
  background-color: var(--main-highlight);
}
.table-group-item img {
  padding: 0 3px;
  height: 2rem;
  width: 2.5rem;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--main-color-darker));
}
.table-group-item div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.table-edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--main-darker);
  padding: 0;
  border: 1px solid var(--main-darker);
  border-radius: 10px;
  margin: 10px auto;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  transition: transform 0.1s ease-in;
}
.table-edit-button:hover {
  border: none;
  transform: scale(1.1);
  background-color: var(--main-highlight);
}

.eve {
  border: 3px solid var(--main-highlight-light);
}

.expired {
  border: 3px solid var(--main-special);
  background-color: var(--gray);
}
/*section table end*/

/*footer-start*/
.footer {
  margin-top: 3rem;
  padding-bottom: 1rem;
}
.footer-divider {
  border: 0.5px solid var(--gray);
  margin: 0 15px 5px 10vw;
}
.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  justify-content: space-between;
}
.footer-container > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5px;
  padding: auto;
  color: var(--main-darker);
}

.footer-container > div:nth-child(3) {
  width: 30%;
}

/*editor*/
.editor-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 100%;
}
.editor-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.editor-content {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  position: relative;
  padding: 25px 25px;
  border-radius: 15px;
  width: 60%;
}

.editor-heading {
  font-size: 3rem;
  margin: 0 15px 30px 15px;
  padding-right: 15px;
  border-bottom: 3px solid var(--main-darker);
}

.editor-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.editor-section-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}
.editor-section-status p {
  border-bottom: 1.5px solid var(--main-darker);
}

.editor-section-form {
  flex: 1;
  display: flex;
}

.editor-section-number {
  flex: 1;
}
.editor-section-number > input {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 6em;
  border: none;
  border-top: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editor-section-control-number,
.editor-section-control-stock,
.editor-section-control-box,
.editor-section-control-inventory {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.number-control-button,
.box-control-button,
.stock-control-button,
.inventory-control-button {
  all: unset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--main-color);
  height: 50%;
  font-size: 3em;
  color: var(--main-darker);
  transition: 0.1s ease-in;
}
.number-control-button:hover,
.box-control-button:hover,
.stock-control-button:hover,
.inventory-control-button:hover {
  background-color: var(--main-color);
  color: var(--main-highlight);
  cursor: pointer;
}
.number-control-button:active,
.box-control-button:active,
.stock-control-button:active,
.inventory-control-button:active {
  background-color: var(--main-color);
  color: var(--main-highlight);
  transform: scale(1.1);
}

.stock-control-button {
  transform: translateX(-50%);
  border: none;
}
.stock-control-button > img {
  height: 5rem;
  width: 5rem;
  margin: 5px;
}
.editor-section-control-stock button {
  transform: translateX(-30%);
  border-radius: 50%;
}
.stock-control-button:active {
  transform: scale(1.1) translateX(-30%);
}

.number-control-button {
  width: 50%;
}
.editor-section-control-number {
  align-items: flex-start;
}

.box-control-button {
  margin: auto;
  margin-right: 0;
  width: 60%;
}

.inventory-control-button {
  border: none;
  text-align: center;
  height: 70%;
  width: 70%;
  transform: translateX(-30%);
}
.inventory-control-button:active {
  transform: scale(1.1) translateX(-30%);
}

.editor-section-control-inventory > img {
  border-radius: 30%;
}

#box {
  border-radius: 15px 0 0 0;
  border-bottom: none;
}
#reset {
  border-radius: 0 0 0 15px;
}
#increase {
  border-radius: 0 15px 0 0;
  border-bottom: none;
}
#decrease {
  border-radius: 0 0 15px 0;
}
/*editor-end*/

/*status-start*/

.ItemGroup-status {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.status-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.status-content {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  position: relative;
  top: 0px;
  padding: 25px 50px;
  border-radius: 10px;
  width: 40%;
}

.status-heading {
  font-size: 3rem;
  margin: 0;
  margin-left: 15px;
}

.status-section {
  display: flex;
  flex-direction: column3;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}
.status-section-form {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.status-section-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 15px;
}

.status-section-form p {
  text-align: center;
  padding: auto;
}

.status-section-form input {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  text-align: left;
  font-size: 1.5rem;
  border-radius: 10px;
}

.status-control-button {
  all: unset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  margin: 3px;
  width: 20%;
  height: 50%;
  font-size: 1rem;
  color: var(--main-darker);
  transition: 0.1s ease-in;
}

.status-control-button:hover {
  color: var(--main-highlight-light);
  border: 3px solid var(--main-highlight-light);
  transform: scale(1.3);
}

.hidden {
  display: none;
}
