* {
  box-sizing: border-box;
}

:root {
  --white: #fefefe;
  --black: #1f1f1f;
  --gray: #4a4a4a;
  --app-container: #f3eada;

  --main-color: #00bfa5;
  --main-light: #5df2d6;
  --main-dark: #008e76;
  --main-darker: #285e72;

  --minor-color: #2b4f3b;

  --main-highlight: #ffa17a;
  --main-highlight-light: #fa8e43;
  --main-special: #a59dff;

  --projects-section: #fafafa;

  --link-color-hover: #ffa17a;
  --link-color-active: #2b4f3b;
  --link-color-active-bg: #fafafa;

  --table-color-bg: #fff;
  --table-color-double-line: #285e72;
  --table-color-item: #00bfa5;
  --table-color-item-eve: #ffa17a;
  --table-color-item-expired: #fa5843;

  --button-bg: #1f1c24;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Gowun Dodum", sans-serif;
  display: flex;
  justify-content: center;
  background-color: var(--app-container);
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--app-container);
}

.content {
  display: flex;
  height: 100%;
  padding: 0px 12px 12px 0px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 24px;
}
.header-logo {
  color: var(--black);
  font-size: 2.5rem;
  margin: 0 16px;
}
.header-helper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  margin-right: 20px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  transition: transform 0.1s ease-in;
}
.header-helper-button:hover {
  transform: scale(1.1);
  background-color: var(--main-highlight);
}
/* header end */

.content  {
  width: 100%;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.sidebar-tab-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  width: 10vw;
  height: 4rem;
  transition: 0.2s;
  color: var(--link-color);
  cursor: pointer;
}
.sidebar-tab-menu:hover {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}
.sidebar-tab-menu.active {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}
/* siedbar end */

.tab-section {
  flex: 1;
  display: none;
  flex-direction: column;
  border-radius: 32px;
  padding: 16px;
  height: 100%;
  background-color: var(--projects-section);
}
.tab-section.target {
  display: flex;
}

/* section header */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header > p {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: var(--main-darker);
}
.section-header > .date {
  font-size: 20px;
}
/* section header end */

/* section table*/
.table-border {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--table-color-bg);
  border: 1px solid var(--black);
  border-radius: 5px;
}
.section-table {
  display: table;
  border-collapse: collapse;
  text-align: center;
}
tr,
td {
  font-weight: 700;
  border: 0.5px solid var(--table-color-double-line);
}

.section-table-header {
  display: table-header-group;
  font-size: 1.25rem;
  border-bottom: 3px double var(--table-color-double-line);
}

.table-topCategory-td {
  font-weight: 400;
  font-size: 1.5rem;
}

.item-flex-wrap {
  display: flex;
  text-align: left;
  margin: 0;
  padding: 0;
}

.table-group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--table-color-item);
  min-width: 7rem;
  height: 2rem;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 5px;
  transition: 0.2s ease-in;
}
.table-group-item:hover {
  background-color: var(--main-special);
}

.table-edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 1px solid var(--main-dark);
  border-radius: 10px;
  margin: 10px auto;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  transition: transform 0.1s ease-in;
}
.table-edit-button:hover {
  border: none;
  transform: scale(1.1);
  background-color: var(--main-highlight);
}

.eve {
  background-color: var(--table-color-item-eve);
}

.expired {
  color: red;
  background-color: var(--table-color-item-expired);
}
/*section table end*/

/*modal*/
.editor-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.editor-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.editor-content {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
  position: relative;
  top: 0px;
  min-width: 60%;
  min-height: 5%;
  padding: 25px 50px;
  border-radius: 10px;
}

.editor-heading {
  margin: 0;
}

.editor-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}
.editor-section-info {
  display: flex;
  height: 50%;
  width: 100%;
  border: 1px solid black;
}
.editor-section-info > div {
  width: 50%;
  border: 1px solid black;
}
.editor-section-info-name {
  text-align: center;
  font-size: 3rem;
}
.editor-section-info-status {
  padding-left: 5%;
}
.editor-section-control {
  display: flex;
  height: 50%;
  width: 100%;
  border: 1px solid black;
}
.editor-section-control > div {
  border: 1px solid black;
}
.editor-section-number,
.editor-section-control-number {
  flex: 1;
}
.editor-section-control-stock {
  flex: 2;
}
.editor-section-number > p {
  text-align: center;
  font-size: 3rem;
}
.editor-section-control-number,
.editor-section-control-stock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.editor-section-control-number > button,
.editor-section-control-stock > button {
  width: auto;
  height: 50%;
  margin: 5px;
}

.hidden {
  display: none;
}
